---
layout: archive
title: "Miscellany"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<ul>


<li> Spotlight at 12<sup>th</sup> HLF - (2025)
     <a href="https://www.newsroom.hlf-foundation.org/media-library/spotlight/article/anwesha-das/" target="_blank">[Link]</a> <br>
     Workshop organization for young researchers:<br> 
     What if data-driven insights are no more helpful? What other interesting factors could help in efficient sustainable computing? 
</li>

<li> KDD 2025 Outstanding (Fall) and Excellent (Spring) PC 
     <a href="https://kdd2025.kdd.org/research-track-program-committee/#august_cycle" target="_blank">Recognitions</a>
</li> 
     
<li> Contributed Talk at IPAM
     <a href="https://www.ipam.ucla.edu/programs/workshops/workshop-iii-hpc-for-computationally-and-data-intensive-problems/?tab=schedule" target="_blank">workshop</a> on <br>
     HPC for Computationally and Data-Intensive Problems - UCLA (2018)
</li>


<li> Wolf Tales Recording 
     <a href="https://d.lib.ncsu.edu/collections/catalog/mc00581-wt-das-20180427" target="_blank">Link</a> NCSU Library (2018)
</li>

<li> Poster Flash at 5<sup>th</sup> HLF - (2017)
     <a href="https://www.youtube.com/watch?v=RpouQyS6Y8w&t=878s" target="_blank">[Link]</a> <br>
     Impulse Talk at <a href="https://arvinda.weebly.com/deep-learning-and-neuroscience.html" target="_blank">workshop</a>
     on Deep Learning and Neuroscience co-located with HLF
</li>

</ul>

<h3>Students (UChicago)</h3>

<ul>

<li> Ethan Fan - MS </li>
<li> Wenkai Xi – MS </li> 
<li> Vedant Kodagi – MS </li>  
<li> Konstantinos Mourogiannis – MS </li>  
<li> Qing Xiao – MS </li> 
<li> Divya Pattisapu – MS </li>
<li> Jie Zhu – PhD student </li>  

</ul>



<h3>Outreach</h3>
  
<ul>

<li> Effective Teaching/Learning of Computer Programming - IIT Bombay (2009) <br>
     Part of the National Mission on Education through Information and Communication Technology (ICT) <br> 
     supported by Ministry of Education (Government of India)<br>
     As a Teaching Assistant (TA) helped teachers of engineering colleges with tutorials and lab sessions in software development techniques 
     <a href="https://www.youtube.com/watch?v=4nJrA7ryzTA&list=PL_uaeekrhGzLPiG8tl9OFgiXOtSI3cJYc&index=2&t=388s" target="_blank">[Related Link]</a>
</li> 
         
<li> Institute-level C++ Course Conducted for Students and Employees of IIT Bombay - (2010) <br>
     Part of the Continuing Education Program (CEP) Courses <br>
     Guided participants for this programming course, helped with grading alongside overall course and lab conduct
     <a href="https://www.cse.iitb.ac.in/~sb/teaching/cep_courses.html" target="_blank">[Related Link]</a>    
</li> 
        
</ul>   


